#heroImgDiv{
    width: 100%;
    min-height: 700px;
    height: auto;
    /* position: relative; */
    border-bottom: 2px solid #000;
    background: #05980f url('./images/branchGreen.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover
}

#mainHeading{
    font-size: 5em;
    color: rgb(2, 95, 39);
    font-family: 'Patua One', cursive;
    font-weight: bolder;
    text-align: center;
    letter-spacing: 2px;
    /* position: relative; */
    /* margin:auto auto; */
    margin-top: 120px;
    margin-left: 10px;
    display: inline-block;

    text-shadow: 0 1px 0 rgb(66, 4, 160),
    0 2px 0 #2a2929,
    0 3px 0 #bbb,
    0 4px 0 #ebe7e7,
    0 5px 0 #aaa,
     0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3);
    /*0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25)
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15); */
}

#heroImgDiv h2,h3{
    /* text-align: center; */
    margin-left: 42%;
    font-family: 'Patua One', cursive;
    
}
#mainPageText{
    height: 150px;
    background-color: #446246;
}

#mainPageText p{
    font-size: 1.5em;
    padding:1%;
    color: #ebe7e7;
    text-align: center;
    
}
#greenCircle{
    width: 150px;
    height: 150px;
    margin-top: 10px;
    margin-left: 35%;
    display: inline-block;
    /* z-index: 5; */
    animation: logo-spin infinite 10s linear;

}


@keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  